In [1]:
import pandas as pd

df = pd.read_csv('C:/Users/P/Desktop/二级学科改进.csv')

In [2]:
ID = df['ID']
name = df['名称']
ID_name = dict(zip(ID, name))
name_ID = dict(zip(name, ID))

In [3]:
df = pd.read_csv('C:/Users/P/Desktop/dict.csv')

In [4]:
df['major2 (disambiguated)']

0                            all
1                            all
2       企业管理（含：财务管理、市场营销、人力资源管理）
3       企业管理（含：财务管理、市场营销、人力资源管理）
4       企业管理（含：财务管理、市场营销、人力资源管理）
                  ...
2579                      德语语言文学
2580                         艺术学
2581                      外国语言文学
2582                      外国语言文学
2583                      外国语言文学
Name: major2 (disambiguated), Length: 2584, dtype: object

In [15]:
for i in df.index:
    old_name = df['major2 (disambiguated)'][i]
    if old_name not in name_ID:
        continue
    old_ID = name_ID[old_name]
    if old_ID>9999:
        new_ID = name_ID[old_name]//100
        new_name = ID_name[new_ID]
        df['major2 (disambiguated)'][i] = new_name
    elif old_ID<100:
        new_names = []
        for m in range(50):
            new_ID = old_ID*100+m
            if new_ID in ID_name:
                new_name = ID_name[new_ID]
                new_names.append(new_name)
        name = ';'.join(new_names)
        df['major2 (disambiguated)'][i] = name

In [6]:
df

                  major (origin) major2 (disambiguated)
0                            all                    all
1                            All                    all
2                         人力资源管理                   工商管理
3          人力资源管理（人力资源管理、公共事业管理）                   工商管理
4     人力资源管理（含公共事业管理专业、人力资源管理专业）                   工商管理
...                          ...                    ...
2579                      德语（商务）                 外国语言文学
2580                          雕塑                    艺术学
2581                          翻译                 外国语言文学
2582                     翻译(双外语)                 外国语言文学
2583                    翻译（涉外法商）                 外国语言文学

[2584 rows x 2 columns]

In [7]:
df['ID']=''

In [16]:
for i in df.index:
    n = df['major2 (disambiguated)'][i]
    names = n.split(";")
    IDs = []
    for name in names:
        if name in name_ID:
            ID = name_ID[name]
            IDs.append(ID)
    IDs = [str(i) for i in IDs]
    for n in range(len(IDs)):
        if len(IDs[n])>4:
            IDs[n] = IDs[n][:-2]
    df['ID'][i] = ';'.join(IDs)

In [9]:
new_df = pd.read_csv('C:/Users/P/Desktop/一级学科(final).csv')

In [10]:
new_df

     一级学科(两位代码是学科门类，四位是一级学科) Unnamed: 1
0                          1         哲学
1                        101         哲学
2                          2        经济学
3                        201      理论经济学
4                        202      应用经济学
..                       ...        ...
99                      1304        all
100                       14       xx学院
101                     1401       弘毅学堂
102                     1402      茅以升学院
103                     1403     徐特立英才班

[104 rows x 2 columns]

In [11]:
ID = new_df['一级学科(两位代码是学科门类，四位是一级学科)']
name = new_df['Unnamed: 1']
ID_name = dict(zip(ID, name))
name_ID = dict(zip(name, ID))

In [12]:
for i in df.index:
    n = df['major2 (disambiguated)'][i]
    names = n.split(";")
    IDs = []
    for name in names:
        if name in name_ID:
            ID = name_ID[name]
            IDs.append(ID)
    IDs = [str(i) for i in IDs]
    for n in range(len(IDs)):
        if len(IDs[n])>4:
            IDs[n] = IDs[n][:-2]
    df['ID'][i] = ';'.join(IDs)

In [13]:
for i in df.index:
    if df['ID'][i]=='':
        print(df['major2 (disambiguated)'][i])
        df=df.drop(labels=i)

无数据
专业组1
专业组2
不限组
少数民族卓越班
少数民族预科班
少数民族预科班
少数民族预科班
本科预科班
北京邮电大学
			（专业组一）
北京邮电大学
			（专业组二）
北京邮电大学（专业组一）
北京邮电大学（专业组二）
北京邮电大学（宏福校区）
合计
合计（汉）
图书馆,情报与档案管理
图书馆,情报与档案管理
图书馆,情报与档案管理
省内预科班
省内预科班
图书馆,情报与档案管理
图书馆,情报与档案管理
校本部
图书馆,情报与档案管理
高收费
资产评估
预科
预科（文）
预科（理）
预科文科
预科班
预科班（人力资源管理）（只招少数民族考生）
预科理科
理科统招

In [17]:
df.to_csv('C:/Users/P/Desktop/result.csv',index=0) #不保存行索引